.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Navbar Styles */
.nabvar {
  margin-top: 30px;
}
.logo img {
  width: 135px;
  height: 82px;
}
.navbar_link_item ul {
  gap: 45px;
  font-family: "Inter", sans-serif;
}

.right_sight_items {
  gap: 45px;
}

.cart_section {
  gap: 20px;
}
ul li:nth-child(1) {
  color: rgb(37, 36, 50);
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
}
ul li:nth-child(2) {
  color: rgb(137, 135, 161);
}
ul li:nth-child(3) {
  color: rgb(137, 135, 161);
}

/* Responsive Navbar (mobile-{max_width:576}) */

@media screen and (max-width: 576px) {
  .nabvar{
    width: 90%;
    margin: 20px auto;
  }
    .navbar_link_item {
    display: none;
  }
  .logo img {
    width: 63px;
    height: 38px;
  }
}
