.container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Navbar Styles */
.nabvar {
  margin-top: 30px;
}
.logo img {
  width: 135px;
  height: 82px;
}
.navbar_link_item ul {
  gap: 45px;
  font-family: "Inter", sans-serif;
}

.right_sight_items {
  gap: 45px;
}

.cart_section {
  gap: 20px;
}
.navbar_link_item ul li:nth-child(1) {
  color: rgb(37, 36, 50);
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
}
ul li:nth-child(2) {
  color: rgb(137, 135, 161);
}
ul li:nth-child(3) {
  color: rgb(137, 135, 161);
}

/* Hero section Styles */

.hero_content {
  margin-top: 30px;
}
.hero_section_right img {
  width: 570px;
  height: 355px;
  float: right;
}

.hero_content,
.plants_header_section {
  color: rgba(0, 0, 0, 0.5);
  font-size: 22px;
}
.hero_content h1 {
  font-size: 4rem;
}

/* Our Plants Section Styles */

.plants_container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.plants_header_section p {
  width: 60%;
}
.card_1 {
  width: 270px;
}
.card_name_with_price {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 10px;
  color: rgb(17, 17, 17);
}
.card_name_with_price .price {
  font-weight: 700;
  color: rgb(17, 17, 17);
}
button {
  width: 100%;
  height: 50px;
  background-color: #e95a08;
  color: white;
  font-weight: 600;
  margin-top: 10px;
}

/* Plants and Flowers Lover Section Styles */

.flower_lover_section {
  gap: 55px;
  margin-top: 200px;
}
.trusted_seller_image {
  position: relative;
  width: 50%;
}
.trusted_seller_image img {
  width: 540px;
  height: 597px;
}
.trusted_seller_batch img {
  width: 286px;
  height: 286px;
  position: absolute;
  top: -135px;
  right: -95px;
}

.flower_lover_content {
  width: 50%;
  display: flex;
  align-items: center;
}
.content_of_flower {
  width: 540px;
}
.flower_lover_content h1 {
  width: 80%;
  font-family: "Noto Serif", serif;
  font-size: 50px;
  font-weight: 700;
}
.flower_lover_content ul li {
  color: rgba(0, 0, 0, 0.5);
  list-style: disc;
  font-family: Inter;
  font-size: 22px;
  font-weight: 400;
  margin-left: 25px;
}

/* Letest deals Section Styles */

.letest_deals_header p {
  width: 70%;
  color: rgba(0, 0, 0, 0.5);
  font-family: Inter;
  font-size: 22px;
  font-weight: 400;
}

.letest_section_image_container {
  display: flex;
  gap: 20px;
  margin-top: 100px;
}

.letest_section_image_container img {
  border-radius: 20px;
}

.left_letest_image {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.right_letest_image {
  position: relative;
}

.content_of_right_image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.latest_first_image,
.latest_second_image {
  width: 366.22px;
  height: 206px;
}

.right_letest_image {
  width: 750px;
  height: 420px;
}
.content_of_right_image span {
  font-size: 2rem;
  font-weight: 700;
  color: white;
  font-family: "Noto Serif", serif;
}

.content_of_right_image a {
  font-size: 2rem;
  font-weight: 400;
  text-decoration: underline;
  color: white;
}

.latest_first_image {
  position: relative;
}
.content_of_first_image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
.latest_second_image {
  position: relative;
}
.content_of_second_image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
.content_of_first_image span,
.content_of_second_image span {
  color: rgb(255, 255, 255);
  font-family: "Noto Serif", serif;
  font-size: 20px;
  font-weight: 700;
}
.content_of_first_image a,
.content_of_second_image a {
  font-weight: 400;
  text-decoration: underline;
  color: white;
}

/* Responsive (mobile-{max_width:576}) */

@media screen and (max-width: 576px) {
  /* Public Style With Responsive */
  .nabvar,
  .hero_section_left,
  .our_plants_section,
  .flower_lover_section,
  .letest_deals_header p {
    width: 90%;
    margin: auto;
  }

  /* Navbar Section Responsive */
  .navbar_link_item {
    display: none;
  }
  .logo img {
    width: 63px;
    height: 38px;
  }

  /* Hero section  */

  .hero_section {
    grid-template-columns: 1fr;
    margin-top: 20px;
  }

  .hero_content h1 {
    font-size: 1.5rem;
  }
  .hero_content p {
    font-size: 14px;
  }
  .hero_section_left {
    order: 1;
  }
  .hero_section_right img {
    width: 450px;
    height: 245px;
    float: inline-end;
    order: 2;
  }

  /* Our Plants And Card Section */

  .plants_header_section h1 {
    font-size: 1.5rem;
    margin-top: 65px;
  }
  .plants_header_section p {
    font-size: 1rem;
    width: 90%;
    margin-top: 16px;
  }
  .plants_container {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    margin-top: 30px;
  }

  .card_1 {
    width: 170px;
  }

  .card_name_with_price {
    font-size: 1rem;
    font-weight: 500;
    margin-top: 10px;
    color: rgb(17, 17, 17);
  }
  .card_name_with_price .price {
    font-weight: 700;
    color: rgb(17, 17, 17);
  }
  button {
    width: 100%;
    height: 45px;
    background-color: #e95a08;
    color: white;
    font-weight: 600;
    margin-top: 10px;
  }

  /* Lover and Plants section */

  .flower_lover_section {
    flex-direction: column;
  }
  .trusted_seller_image {
    width: 100%;
  }
  .flower_lover_content {
    width: 100%;
  }
  .flower_lover_content h1 {
    width: 100%;
    font-size: 1.5rem;
    margin-bottom: 10px;
  }
  .flower_lover_content ul li {
    font-size: 14px;
    margin-left: 15px;
  }
  .trusted_seller_batch img {
    display: none;
  }

  /* Latest Deals section */

  .letest_deals_header p {
    width: 90%;
    color: rgba(0, 0, 0, 0.5);
    font-size: 14px;
    font-weight: 400;
  }
  .letest_deals_header h1 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 100px;
  }
  .letest_deals_header .deal {
    font-size: 24px;
  }
  .letest_section_image_container {
    flex-direction: column;
    gap: 0px;
    margin-top: 40px;
  }

  .main_letest_deals_container span {
    font-size: 16px;
  }
  .main_letest_deals_container a {
    font-size: 14px;
  }

  .latest_first_image,
  .latest_second_image {
    width: 320px;
    height: 160px;
    margin: auto;
    margin-bottom: 20px;
  }

  .right_letest_image {
    width: 320px;
    height: 160px;
    margin: auto;
    margin-top: 18px;
  }

  .content_of_right_image{
    width: 100%;
    margin-top: 15px;
  }
  .content_of_first_image,
  .content_of_second_image{
    margin-top: 10px;
  }
}
